<!-- posts -->
<div class="blog">
	<div class="blog-content">
		<div class="blog-content-left">
			<div class="blog-articals">
				<div class="blog-artical" ng-repeat="post in posts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
					<div class="blog-artical-info">
						<div class="blog-artical-info-img">
							<a href="/#/post/{{post.link}}"><img ng-src="{{post.banner}}" title="post-name"></a>
						</div>
						<div class="blog-artical-info-head">
							<h2><a ng-href="/#/post/{{post.link}}">{{ post.title }}</a></h2>
						</div>
						<div class="blog-artical-info-text">
							<p ng-bind-html="post.body | limitHtml:1000"></p>
						</div>
						<div class="artical-links">
  						 	<ul>
  						 		<li><i class="fa fa-calendar" aria-hidden="true"></i><span>{{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span></li>
						 		<li><i class="fa fa-user" aria-hidden="true"></i><span>{{post.author.username}}</span></li>
						 		<li><i class="fa fa-thumbs-up"  id="fa-thumbs-up" aria-hidden="true"></i><span>{{post.upvotes}} likes</span></li>
						 		<li><i class="fa fa-comments"  id="fa-comments" aria-hidden="true"></i><span>{{post.comments.length}} comments</span></li>
  						 	</ul>
  						 </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="pagination-centered">
					<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-lg" items-per-page="itemsPerPage"></ul>
				</div>	 
			</div>
		</div>
	</div>
</div>
<!-- posts -->