<!-- registration -->
<div class="login-page">
	<div class="account_grid">
	   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			<h3>PERSONAL INFORMATION</h3>
			<form ng-submit="register()">
				<div>
					<span>Full Name<label>*</label></span>
					<input type="text" ng-model="user.fullname" required> 
				</div>
				<div>
					<span>Email Address:<label>*</label></span>
				 	<input type="email" ng-model="user.email" required> 
				</div>
				<h3>LOGIN INFORMATION</h3>
				<div>
					<span>Username:<label>*</label></span>
					<input type="text" ng-model="user.username" required>
				</div>
				<div>
					<span>Password:<label>*</label></span>
					<input type="password" ng-model="user.password" required>
				</div>
				<div>
					<span>Confirm Password:<label>*</label></span>
					<input type="password" ng-model="user.confirmPassword" required>
				</div>
				<input type="submit" value="Register">
			</form>
	   </div>	
		<div class="clearfix"> </div>
	</div>
</div>
<!-- registration -->