	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" style="background:#000000;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
				<a class="navbar-brand page-scroll" ui-sref="app.home">ME </a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
<!-- 				<ul class="nav navbar-nav">
					<li><a href="index-2.html">Home</a></li>
					<li><a href="index-2.html">About</a></li>
					<li><a href="index-2.html">services</a></li>
					<li><a href="index-2.html">portfolio</a></li>
					<li><a href="index-2.html">blog</a></li>
					<li><a href="index-2.html">contact</a></li>
				</ul> -->
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- navbar end -->

		<!-- section -banner -->
	<div id="single-section-intro">
		<div class="parallx-overlay grey"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>
	<!-- section banner end -->

	<section id="single-post" class="section-post">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="single-post-area">
<!-- 						<h4>By spite about do of do allow blush</h4>
						<span class="blog-info">
						<a href="#" class="blog-info">John Doe</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> 7 January 2017 </span> -->
					<h1> 404 Not Found !!!!!!!</h1>
	
						<hr>


					</div>

				</div>
				<div class="col-md-4"> 
					
					<!-- tags start -->
					<div class="widget">
                        <h5>Tags</h5>
                        <div class="tags">
                            <a ng-repeat="tag in tags | orderBy" ui-sref="app.blogs" ng-click="changeByTag(tag)" style="margin-left: 3px;">{{tag}}</a>
                        </div>
                    </div>
                    <!-- tags end -->
				</div>
			</div>
		</div>
	</section>
	
	


	
	<!-- section footer start -->
	<footer id="section-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-link text-center">
					<!-- footer social media -->
						<ul class="list-inline footer-socail">
                            <li><a href="https://www.facebook.com/zahid.rahman.50"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/ZahidRahman2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/zahid-rahman-31285710a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="http://stackoverflow.com/users/5066353/zahid-rahman"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/zahid492"><i class="fa fa-github" aria-hidden="true"></i></a></li>						
						</ul>
						<p class="copy">copyright &copy; <span>2017 themefabby, All rights Reserved. </span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- container end -->
	</footer>
