	<!-- Navigation -->

	<nav class="navbar navbar-custom navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
<!-- 				<a class="navbar-brand page-scroll" href="#page-top"> <img src="images/logo.png" alt="" class="img-responsive"> </a> -->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#section-about" class="page-scroll">Home</a></li>
					<li><a class="page-scroll" href="#section-skills">Skills</a></li>
					<li><a class="page-scroll" href="#section-portfolio">portfolio</a></li>
					<li><a class="page-scroll" href="#section-workandeducation">Work & Education</a></li>
					<li><a class="page-scroll" href="#section-blog">blog</a></li>
					<li><a class="page-scroll" href="#section-contact">contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- navbar end -->
	
	<!-- section -banner -->
	<div id="section-intro">
		<div class="parallx-overlay grey"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="intro-caption">
							<!-- type headline start-->
							<h1 class="cd-headline clip is-full-width">
								<span>I'm </span>
								<span class="cd-words-wrapper">
									<b class="is-visible">Zahidur Rahman</b>
									<b>a Full Stack Software Developer.</b>
								</span>
							</h1>
							<!-- type headline end -->
						<!-- header social icon start -->
						<ul class="list-inline footer-socail">
							<li><a href="https://www.facebook.com/zahid.rahman.50"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/ZahidRahman2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/zahid-rahman-31285710a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="http://stackoverflow.com/users/5066353/zahid-rahman"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/zahid492"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
						<!-- header media icon end -->
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</div>
	<!-- section banner end -->

	<!-- section about start -->
	<section id="section-about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<div class="about-wrap" >
						<h2>hello! i am Zahidur Rahman</h2>
						<h4>Full Stack Software Developer</h4>
						<p style="text-align:justify;">I am a passionate full stack developer can take any challenge and work under pressure.More than 2+ years extensive hands on experience of professional software development.</p>
						<p style="text-align:justify;">Always try to make something new and creative. Programming is not only my profession but also my hobby and my passion like to work with creative and friendly people.One thing i believe that is never quitting.</p>			<a target="_blank" href="https://drive.google.com/file/d/0Byfo8ZQ9aQ-eNzJlQVo3YzhXVjg/view?usp=sharing" class="btn btn-black">Download CV</a>						<a href="#section-contact" class="btn btn-black">Contact Me</a> 
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 visible-md visible-lg wow fadeInUp" data-wow-delay="0.8s">
					<div class="profile"> 
						<img style="border-radius: 50%;max-width:65%;margin-left:22%;margin-top:22%;" src="images/about/about-me-v2.jpg" alt="profile img" class="img-responsive"></div>
				</div>
			</div>
			<!--  row  end -->
		</div>
		<!--  container end -->
	</section>
	<!-- section about end -->
	<!--  section services start -->
	<section id="section-skills" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2>SKILLs</h2> </div>
				</div>
			</div>
			<!--  row end -->
			<div class="row">
			            <div>
		                        <a href="" class="btn btn-black">Node JS</a> 
								<a href="" class="btn btn-black" style="margin: 4px;">Angular JS</a> 
		                        <a href="" class="btn btn-black">Facebook Graph API</a> 
							 	<a href="" class="btn btn-black"  style="margin: 4px;">Mongo DB</a> 
								<a href="" class="btn btn-black">Messenger Bot</a> 
		                        <a href="" class="btn btn-black">React JS</a> 
                        </div>
                        <div style="margin: 4px;">
		                        <a href="" class="btn btn-black">Redis</a>
		                        <a href="" class="btn btn-black">Ionic</a> 
		                        <a href="" class="btn btn-black" style="margin: 4px;">Elasticsearch</a> 
                            <a href="" class="btn btn-black" style="margin: 4px;">RabbitMQ</a> 
		                        <a href="" class="btn btn-black">Grunt</a> 
		                        <!-- <a href="" class="btn btn-black">C/C++</a>  -->
								<a href="" class="btn btn-black" style="margin: 4px;">PHP</a>
								<a href="" class="btn btn-black">MYSQL</a> 			                        	
                        </div>
											

			</div>
			<!--  row end -->
		</div>
		<!--  container end -->
	</section>
	<!--  section services end -->


    <!-- start portfolio area -->
    <section id="section-portfolio" class="work section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-heading">
                        <h2>My Personal Portfolios</h2>
                        <p>Here is a few perosnal projects that i worked in before and continuing at now, there is no offcial projects that i have not authorized, without this in my <a style="color: blue;" href="https://github.com/zahid492">github</a> has consist few projects. 
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="work">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".webdesign">Web Development</li>
                    <li class="filter" data-filter=".software">Software</li>
                    <li class="filter" data-filter=".photography">Research</li>
                </ul>
            </div>
            <div class="work-inner">
                <div class="row work-posts">
                    <!-- single work area-->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="images/project/meetup.jpg" class="work-popup">
                                <img src="images/project/meetup.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="https://github.com/zahid492/meetup-quiz"><h4>Link</h4></a>
                                    <h5 style="color: white;">Social Buzz(2016)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area -->
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="images/project/telecom.jpg" class="work-popup">
                                <img src="images/project/telecom.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="https://github.com/zahid492/Realtime-colloboration-App-MEAN-Socket.io"><h4>Link</h4></a>
                                    <h5 style="color: white;">Telecom Site Handler(2016)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area -->
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="images/project/bot.jpg" class="work-popup">
                                <img src="images/project/bot.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="https://www.messenger.com/t/1413027885671019"><h4>Link</h4></a>
                                    <h5 style="color: white;">GreenTech Delivery Bot(2017)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area-->
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.6s">
                            <a href="images/project/bot.jpg" class="work-popup">
                                <img src="images/project/ecom1.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="http://mhqstore.com/"><h4>Link</h4></a>
                                    <h5 style="color: white;">E-commerce site of africa(2015)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area-->                    
                 <!-- single work area-->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.6">
                            <a href="images/project/sms.jpg" class="work-popup">
                                <img src="images/project/sms.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="http://www.afreesms.com/freesms/"><h4>Link</h4></a>
                                    <h5 style="color: white;">Free SMS Gateway(2015)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area -->                   
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.6s">
                            <a href="images/project/qr1.jpg" class="work-popup">
                                <img src="images/project/qr1.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="http://mobile-barcode.com/"><h4>Link</h4></a>
                                    <h5 style="color: white;">Mobile barcode Scanner(2015)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area-->        
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix webdesign">
                        <div class="item wow fadeInUp" data-wow-delay="0.8s">
                            <a href="images/project/dik1.jpg" class="work-popup">
                                <img src="images/project/dik1.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="http://dik-grantha.com/"><h4>Link</h4></a>
                                    <h5 style="color: white;">Website of a Book Selling Company(2015)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area-->                           
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix typography web">
                        <div class="item wow fadeInUp" data-wow-delay="0.8s">
                            <a href="images/project/protein1.jpg" class="work-popup">
                                <img src="images/project/protein1.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <a href="http://www.ijircst.org/DOC/1_IRP42842a6bd14-c338-4dc0-b2ee-689f17355231.pdf"><h4>Link</h4></a>
                                    <h5 style="color: white;">An Approach for Protein Secondary Structure
Prediction Using Neural Network(2015)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area -->
                    <!-- single work area -->
                    <div class="col-md-4 col-sm-4 mix software">
                        <div class="item wow fadeInUp" data-wow-delay="0.8s">
                            <a href="images/project/bank1.jpg" class="work-popup">
                                <img src="images/project/bank1.jpg" alt="">
                                <div class="portfolio-caption">
                                    <h4>Preview</h4>
                                    <h5 style="color: white;">Banking Software(Departmental Project,2014)</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end single work area-->  
                </div>
            </div>
        </div>
    </section>
    <!-- / end start work area -->
	  <!--exprience start-->
   
  <section class="section-padding" id="section-workandeducation">
    <div class="container center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-heading">
                        <h2>Work & Education</h2>
                    </div>
                </div>
            </div>

      <div class="row workDetails">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 rightArea">
          <div class="arrowpart"></div>
          <div class="exCon">
            <a href="http://interspeed.com.bd/"><h4>Interspeed Digital Solution</h4></a>
            <h6>Full Stack Software Developer</h6>
          <div class="workYear">May 2016 to Continue<br>
          </div>
          </div>
        </div>
      </div>
      <div class="row workDetails">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 rightArea">
          <div class="arrowpart"></div>
          <div class="exCon">
            <a href="http://www.syncswitch.com/"><h4>Synchronous ICT Ltd.</h4></a>
            <h6>Assistant Software Engineer</h6>
          <div class="workYear">December 2015 to April 2016<br>
          </div>
          </div>
        </div>
      </div>
      <div class="row workDetails">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 rightArea">
          <div class="arrowpart"></div>
          <div class="exCon">
            <a href="https://www.ericsson.com/"><h4>L.M Ericsson Ltd.(BD)</h4></a>
            <h6>Junior Software Developer</h6>
          <div class="workYear">February 2015 to November 2015<br>
          </div>
          </div>
        </div>
      </div>
      <div class="row workDetails" style="text-align: left;">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 leftArea">
          <div class="arrowpart"></div>
        </div>


        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class="exCon">
            <h4>Rajshahi University of Engineering & Technology</h4>
            <h6>Department of CSE</h6>
          <div class="workYear">2009-2014(December)<br>
          </div>            
          </div>
        </div>
      </div>
      <div class="row workDetails">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 rightArea">
          <div class="arrowpart"></div>
          <div class="exCon">
            <h4>One Leap Microsystems Laboratories.</h4>
            <h6>Intern Web Developer(Student Life)</h6>
	          <div class="workYear">2014<br>
	          </div>            
          </div>
        </div>
      </div>


      <div class="row workDetails" style="text-align: left;">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 leftArea">
          <div class="arrowpart"></div>

        </div>


        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class="exCon">
            <h4>Milestone College(Uttara,Dhaka)</h4>
            <h6>Department of Science</h6>
          <div class="workYear">2007-2009<br>
          </div>            
          </div>
        </div>
      </div>
      <div class="row workDetails" style="text-align: left;">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 leftArea">
          <div class="arrowpart"></div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class="exCon">
            <h4>Kamarpara High School & College(Uttara,Dhaka)</h4>
            <h6>Department of Science</h6>
          <div class="workYear">2002-2007<br>
          </div>            
          </div>
        </div>
      </div> 
 
  
	   </div>
  </section>

   
  <!--exprience end-->
	<!-- section blog start -->
	<section id="section-blog" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="feature-heading text-center">
						<h2>LATEST BLOGS</h2> 
						<p>ut believe has request not how comfort evident. Up delight cousins <br> we feeling minutes. Genius has looked end piqued spring. </p>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="feature-wrap">
						<div class="row">
						<!-- blog one -->
							<div class="col-md-4 col-sm-12 col-xm-12">
								
								<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/1.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a href="single-post.html"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> 7 January 2017 </span>
									<p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
									
								</div>
								
							</div>
							<!-- blog two -->
							<div class="col-md-4 col-sm-12 col-xm-12 blog-color">
								<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/2.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a href="single-post.html"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a>  - <i class="fa fa-clock-o" aria-hidden="true"></i> 8 January 2017 </span>
									<p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
								</div>
							</div>
							<!-- blog three -->
							<div class="col-md-4 col-sm-12 col-xm-12 blog-color">
								<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/3.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a ui-sref="app.single_blog({id:'121-121212'})"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a>  - <i class="fa fa-clock-o" aria-hidden="true"></i> 11 January 2017 </span>
									<p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
								</div>
							</div>
						</div>
					</div>
					<!--  feature wrap end -->
				</div>
				<!--  col end -->
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</section>
	<!-- section features end -->
	
	<!-- Section testimonial start -->
<!-- 	<section id="section-testimonial" class="parallax1">
		<div class="parallx-overlay black"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="carousel slide" id="testimonial-carousel">
						<div class="carousel-inner">
							<div class="item "> <i class="icon-profile-male"></i>

								<h4>what people say</h4>
								<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. </p>
								<h5> - <strong>Adams</strong></h5> </div>
							<!-- item end -->
<!-- 							<div class="item active"> <i class="icon-profile-female"></i>
								<h4>what people say</h4>
								<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. </p>
								<h5> - <strong>David Kraus</strong></h5> </div> -->
							<!-- item end -->
<!-- 							<div class="item"> <i class="icon-profile-male"></i>
								<h4>what people say</h4>
								<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. </p>
								<h5> - <strong>Ricky Martin</strong></h5> </div> -->
							<!-- item end -->
<!-- 						</div> -->
						<!-- caorusel inner end -->
						<!-- Indicators -->
<!-- 						<ol class="carousel-indicators">
							<li data-target="#testimonial-carousel" data-slide-to="0"></li>
							<li data-target="#testimonial-carousel" data-slide-to="1" class="active"></li>
							<li data-target="#testimonial-carousel" data-slide-to="2"> </li>
						</ol>
					</div> -->
					<!-- caorusel slide end -->
<!-- 				</div>
			</div> -->
			<!-- Row end -->
<!-- 		</div> -->
		<!-- container end -->
<!-- 	</section> -->
	<!-- section testimonial end -->
	
	<!-- section contact start -->
	<section id="section-contact" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading text-center">
						<h2>GET IN TOUCH</h2> </div>
					</div>
				
					<div class="col-md-offset-2 col-md-8 contact-information">
                    <div class="col-md-4 col-sm-4 col-xs-12 contact-info wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>+8801829202258 <br>+8801674309492</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 contact-info wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>House no:28, Road No:6, Block:E ,Kamarpara, Uttara-10,Dhaka</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 contact-info wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p>zahidcse09@gmail.com <br></p>
                    </div>
                </div>
				
			</div>
			<!--  row heading end -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2  wow fadeInRight">
					<div class="contact-box">
						<form id="contactform" action="#">
							<div class="col-md-6">
							<!-- name field -->
								<div class="form-group"> 
									<input type="text" id="name" name="name" class="form-control" placeholder="NAME" required="required">
								</div>
							</div>
							<div class="col-md-6">
							<!-- email field -->
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control" placeholder="EMAIL" required="required">
								</div>
							</div>
							<div class="col-md-12">
							<!-- subject field -->
								<div class="form-group">
									<input type="text" name="subject" id="subject" class="form-control" placeholder="SUBJECT" required="required">
								</div>
							</div>
							<div class="col-md-12">
							<!-- textarea field -->
								<div class="form-group">
									<textarea id="message" name="message" cols="30" rows="10" class="textarea-block form-control" placeholder="MESSAGE" required="required"></textarea>
								</div>
							</div>
							<div class="col-md-12  text-right wow fadeInUp text-center"> 
							<!-- submit button -->
								<button class="btn btn-black " id="form-submit" type="submit" value="Submit">Submit now</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</section>
	<!-- section contact end -->
	
	<!-- section footer start -->
	<footer id="section-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-link text-center">
					<!-- footer social media -->
						<ul class="list-inline footer-socail">
							<li><a href="https://www.facebook.com/zahid.rahman.50"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/ZahidRahman2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/zahid-rahman-31285710a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="http://stackoverflow.com/users/5066353/zahid-rahman"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/zahid492"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
						<!-- <p class="copy">copyright &copy; <span>2017 themefabby, All rights Reserved. </span></p> -->
					</div>
				</div>
			</div>
		</div>
		<!-- container end -->
	</footer>
	<!-- section footer end -->
