	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
				<a class="navbar-brand page-scroll" href="index-2.html"> <img src="images/logo.png" alt="" class="img-responsive"> </a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index-2.html">Home</a></li>
					<li><a href="index-2.html">About</a></li>
					<li><a href="index-2.html">services</a></li>
					<li><a href="index-2.html">portfolio</a></li>
					<li><a href="index-2.html">blog</a></li>
					<li><a href="index-2.html">contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- navbar end -->

		<!-- section -banner -->
	<div id="single-section-intro">
		<div class="parallx-overlay grey"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-intro-caption">
							<h4>Blogging everyday</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section banner end -->

	<section id="single-post" class="section-post">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="single-post-area">
						<h4>By spite about do of do allow blush</h4>
						<span class="blog-info">
						<a href="#" class="blog-info">John Doe</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> 7 January 2017 </span>
					
					<div class="blog-image">
						<img src="images/blog-image/1.jpg" class="img-responsive" alt="blog-image">

						<p>Sed ante orci, tincidunt at tortor vitae, pellentesque fermentum est. In ornare quam eu lorem elementum, mollis cursus ex tincidunt. Integer felis dui, pellentesque ac libero eget, molestie porttitor elit. Suspendisse fermentum lectus eget velit vate, sit amet tristique velit ultricies. Morbi condimentum imperdiet magna a venenatis. Aenean eu fringilla lectus. Vestibulum et mauris convallis, mattis nisi eget, blandit arcu. Suspendisse pellentesque eleifend finibus. Duis quis eleifend sapieulla facilisi.</p>

						<p>Quisque pulvinar, orci a lobortis placerat, leo sem dignissim ipsum, mattis congue purus tortor et lectus. Nunc at pretium mi, ut eleifend sapien. Aenean a sapien porta velit feugiat condimentum in non les nunc, non hendrerit massa iaculis vitae.</p>
						<blockquote>
                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                		</blockquote>
                		<p>Sed ante orci, tincidunt at tortor vitae, pellentesque fermentum est. In ornare quam eu lorem elementum, mollis cursus ex tincidunt. Integer felis dui, pellentesque ac libero eget, molestie porttitor elit. Suspendisse fermentum lectus eget velit vate, sit amet tristique velit ultricies. Morbi condimentum imperdiet magna a venenatis. Aenean eu fringilla lectus. Vestibulum et mauris convallis, mattis nisi eget, blandit arcu. Suspendisse pellentesque eleifend finibus. Duis quis eleifend sapieulla facilisi.</p>
					</div>
						
						<hr>
<dir-disqus config="disqusConfig"></dir-disqus>


					</div>

				</div>
				<div class="col-md-4"> 
					
					<!-- tags start -->
					<div class="widget">
                        <h5>Tags</h5>
                        <div class="tags">
                            <a href="#">HTML5</a>
                            <a href="#">CSS3</a>
                            <a href="#">HTML5</a>
                            <a href="#">Bootstrap</a>
                            <a href="#">WORDPRESS</a>
                            <a href="#">jQuery</a>
                            <a href="#">Java Script</a>
                        </div>
                    </div>
                    <!-- tags end -->
				</div>
			</div>
		</div>
	</section>
	
	

	<!-- section blog start -->
	<section id="section-blog" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="feature-heading text-center">
						<h2>RELATED POST</h2> 
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="feature-wrap">
						<div class="row">
						<!-- blog one -->
							<div class="col-md-4 col-sm-12 col-xm-12">
								
								<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/1.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a href="#"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> 7 January 2017 </span>
								</div>
							</div>
							<!-- blog two -->
							<div class="col-md-4 col-sm-12 col-xm-12 blog-color">
								<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/2.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a href="#"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a>  - <i class="fa fa-clock-o" aria-hidden="true"></i> 8 January 2017 </span>
								</div>
							</div>
							<!-- blog three -->
							<div class="col-md-4 col-sm-12 col-xm-12 blog-color">
									<div class="one-blog">
									<div class="blog-image">
										<img src="images/blog-image/3.jpg" class="img-responsive" alt="blog-image">
									</div>
									<a href="#"><h4>By spite about do of do allow blush</h4></a>
									<span class="blog-info"><a href="#" class="blog-info">John Doe</a>  - <i class="fa fa-clock-o" aria-hidden="true"></i> 11 January 2017 </span>
								</div>
							</div>
						</div>
					</div>
					<!--  feature wrap end -->
				</div>
				<!--  col end -->
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</section>
	<!-- section features end -->
	
	
	
	<!-- section footer start -->
	<footer id="section-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-link text-center">
					<!-- footer social media -->
						<ul class="list-inline footer-socail">
                            <li><a href="https://www.facebook.com/zahid.rahman.50"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/ZahidRahman2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/zahid-rahman-31285710a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="http://stackoverflow.com/users/5066353/zahid-rahman"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/zahid492"><i class="fa fa-github" aria-hidden="true"></i></a></li>						
						</ul>
						<p class="copy">copyright &copy; <span>2017 themefabby, All rights Reserved. </span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- container end -->
	</footer>
