<!DOCTYPE html>
<html>

  <head>

    <title>Wonderland's Blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

   	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="assets/libs/textAngular-1.5.7/dist/textAngular.css" rel="stylesheet" type="text/css">
	<link href="assets/css/myStyle.css" rel="stylesheet" type="text/css"/>
	<link href="assets/fonts/SansPro.css" rel="stylesheet" type="text/css"/>
	<link href="assets/fonts/LibreBaskerville.css" rel="stylesheet" type="text/css"/>
	<link href="assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	<script  src="assets/js/jquery.flexisel.js" type="text/javascript"></script>
	<script  src="assets/js/responsiveslides.min.js" type="text/javascript"></script>
	<!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" type="text/javascript"></script>
    <!-- TODO move this link inside the Project  !!! CHECK FOR OTHERS - THERE ARE -->
   	<script src="assets/js/angular-ui-router.js" type="text/javascript"></script>
	<!-- Angular bootstrap  -->
	<link href="angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet">
	<script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
   <!-- HTML Editor -->
	<script src="assets/libs/textAngular-1.5.7/dist/textAngular-rangy.min.js" type="text/javascript"></script>
	<script src="assets/libs/textAngular-1.5.7/dist/textAngular-sanitize.min.js" type="text/javascript"></script>
	<script src="assets/libs/textAngular-1.5.7/dist/textAngular.min.js" type="text/javascript"></script>
	<!-- Project Ctrls-->
    <script src="app.module.js"></script>
    <script src="controllers/NavController.js"></script>
    <script src="controllers/PostController.js"></script>
    <script src="controllers/AuthController.js"></script>
    <script src="controllers/AlertController.js"></script>
    <script src="controllers/SinglePostController.js"></script>
  	<!-- Project Services-->
    <script src="services/PostService.js"></script>
    <script src="services/AuthService.js"></script>
    <script src="services/AlertService.js"></script>
    <script src="app.routes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js"></script>
   
  </head>

  <body ng-app="blog">
<!-- banner-body -->
	<!-- header-nav -->
	<div ng-include="'views/header-nav.html'"></div>
	<!-- //header-nav -->
	<div class="container">
		<!-- alerts -->
		<div class="alerts {{alert.type}}">
					<div uib-alert ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" id="scrollToDivID" close="closeAlert($index)">{{ alert.msg }}</div>
		</div>
		<!-- //alerts -->
			<ui-view></ui-view>	
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>© 2016 Wonderland Blog. All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //footer -->		
</body>
</html>